body {
  background: linear-gradient(135deg, #7A6448, #5e492e);
  color: #f9f4e3;
  font-family: Helvetica, Arial, sans-serif;
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.imageLink {
  display: inline-block;
  margin: 0 2rem 2rem 0;
}

img {
  background: white;
  border: 1px solid #eee;
  display: block;
  max-width: 100%;
}

.grid {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, 800px);
}

.print {
  border: 1px solid #f0f0f0;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  padding: 3rem;
}

.large {
  margin: 0 2rem 2rem 0;
  width: 800px;
}

.thumbnail {
  width: 400px;
}

/* Zoom whatever image is focused or hovered */
a:focus .thumbnail,
a:hover .thumbnail {
  view-transition-name: zoomImage;
}

.large {
  view-transition-name: zoomImage;
}

::view-transition-old(*),
::view-transition-new(*) {
  mix-blend-mode: normal;
}
