body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 2rem;
}

a {
  text-decoration: none;
}

a.imageLink {
  display: inline-block;
  box-shadow: 0.2rem 0.2rem .5rem #ccc;
  margin: 0 2rem 2rem 0;
}

img {
  border: 1px solid #eee;
  display: block;
  max-width: 100%;
  width: 800px;
}

img.large {
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
  margin: 0 2rem 2rem 0;
}

img.thumbnail {
  width: 400px;
}

/* Zoom whatever image is focused or hovered */
a:focus img.thumbnail,
a:hover img.thumbnail {
  view-transition-name: zoomImage;
}

img.large {
  view-transition-name: zoomImage;
}

::view-transition-old(*),
::view-transition-new(*) {
  mix-blend-mode: normal;
}
